ul{
    list-style-type: none;
    display: flex;
    background-color: gainsboro;
}
li{
    margin:15px;
    
}
.link{
    text-decoration: none;
    color:white;
    background-color: grey;
    padding: 10px;
}
.link:hover,li:hover{
    color:goldenrod;
}