
.card{
    width:300px;
    height:auto;
    border:1px solid grey;
    border-radius: 10px;
    margin:5px;
    box-shadow: 0px 0px 10px grey;
    padding-bottom:10px;
}
.name{
    text-align:start;
    font-weight:bold;
    margin-left:8px;
}
.icon{
    margin-left:15px;
    color:grey;
}
img{
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    height: 150px;
    width:300px;
}
p{
    font-size: 12px;
    color:grey;
}
